<!-- <div id="carouselExample" class="carousel slide" style="width: 350px; height: 300px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <p>{{count}}</p>
      <img [src]="paesaggi[count].src" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" (click)="onClickMeno()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" (click)="onClickPiu()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<br><br>
<div id="carouselExample" class="carousel slide" style="width: 350px; height: 300px;">
  <div class="carousel-inner">
    <ul class="list-group">
    <div class="carousel-item active">
      <p>{{i}}</p>
      <li class="list-group-item">{{ingredienti[i].nome}}</li>
      
  </div>
</ul>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" (click)="onClickPiuIngr()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" (click)="onClickMenoIngr()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
</div>
<br><br> -->

<div id="carouselExample" class="carousel slide" style="margin-top:50px; margin-bottom: 50px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      
      <div class="progress" role="progressbar" aria-label="Animated striped example" [attr.aria-valuenow]="numPerceChild" aria-valuemin="0" aria-valuemax="100">
        <div [class]="classMod" [style.width.%]="numPerceChild">
          

          

            {{numPerceChild}}%
            <!-- mettere input dal padre -->

        </div>

    </div>
  </div>

  <!-- <div class="progress" role="progressbar" aria-label="Success striped example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped bg-success" [style]="progress[k].set"></div>
        </div> -->
  <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" (click)="onClickMenoProg()">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" (click)="onClickPiuProg()">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> -->
</div>
</div>


  



