<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col">
      <!-- <p>Nome</p>
      <input type="text" class="form-control" #nome>
      <br>
      <input type="text"class="form-control" #cognome>
      <br>
      <button class="btn btn-danger" (click)="onClickPushCor(nome.value, cognome.value)" > Aggiungi </button>
      <br>
      <br>

      <ul *ngFor="let corsista of corsisti">
        <li> {{corsista.nome}} {{corsista.cognome}} </li>
      </ul> -->
    </div>
  </div>
</div>
