
<body>
 <section >
  

  <div [style]="isDisable? bg.uno : bg.due">
    <div class="row">
      <div class="col">
        <br>
        <button class="btn btn-primary" [disabled]="isDisable">Bottoneee</button>
        <br>
        <h6 [textContent]="animali.tipo"></h6>
        <br>
        <img [src]="animali.immagineUrl" class="img-response" style="width: 350px;">
      </div>
      <div class="row">
        <div class="col">
          <button [class]="isDisable? style.primo : style.secondo" [disabled]="isDisable" >click</button>
          <br>
        </div>
      </div>
    </div>
  </div>
</section>
</body>