.giallo{
  background-color: yellow;
}
.verdelime{
  background-color: greenyellow;
}
.blue{
  background-color: blue;
}
.viola{
  background-color: violet;
}

.grigio{
  color: gray;
}
.oro{
  color: gold;
}
.verde{
  color: green;
}
.arancione{
  color: orange;
}
