<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- 
<br>
<app-property-binding></app-property-binding>
<br>
<app-event-binding></app-event-binding>
<br>
<app-eser1></app-eser1>
<br><br>

<br>
<app-template-controll></app-template-controll>
<br>
<app-progress-controll></app-progress-controll>
<br>
<app-incremento-contatore></app-incremento-contatore>
<br>
<app-comp-uno></app-comp-uno> 

<app-scomposto></app-scomposto>-->


<!-- <app-template-reference-variable></app-template-reference-variable>

<app-direttive-predefinite></app-direttive-predefinite> -->

<!-- !!!!! IMPORTANTE !!!!! -->
<app-header></app-header>

<!-- <app-template-controll></app-template-controll> -->

<!-- <app-pipe-predefinite></app-pipe-predefinite> -->
<!-- <app-eser3></app-eser3> -->
<app-lifecycle-hooks></app-lifecycle-hooks>
<!-- <app-eser-input-parent></app-eser-input-parent> -->
<!-- <app-progress-controll></app-progress-controll> -->
<!-- <app-tamplate-driven-from></app-tamplate-driven-from> -->

<!-- <app-aggiungi-studente></app-aggiungi-studente> -->
<!-- <app-elenco-studenti></app-elenco-studenti> -->

<!-- <app-reactive-form></app-reactive-form> -->

<!-- <app-elenco-professori></app-elenco-professori> -->



<router-outlet></router-outlet>



