<body>
  <!-- <div class="container">
    <div class="row">
      <div class="col">
        <p>Sono una stringa: {{variabileStringa}}</p>
        <p>Sono un numero: {{variabileNumero}}</p>
        <p>Sono un elemento dell'array: {{frutti[1]}} </p>
        <p>Sono un oggetto: {{oggetto.nome + " " + oggetto.cognome}} </p>
        <p>Sono un metodo: {{getStringa()}}</p>
        <p>Sono un'operazione: {{100 * 95 }}</p>
        <p>Sono un metodo: {{getStringa() === 'Prova' ? true : false}}</p>
      </div>
    </div>
  </div> -->
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid" style="background-color: brown;">
      <a class="navbar-brand" href="#">Ristorante</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{getPage() === true ?  titolo[0] : titolo[1]}}</h1>
        <p>
          {{getPage() === true ? contenuto1: contenuto2}}
      </p>
      <p></p>  
          <select  class="form-select">
            <!-- <option selected> </option> -->
            <option value="1"> {{menu[0]}} </option>
            <option value="2"> {{menu[1]}}</option>
            <option value="3"> {{menu[2]}} </option>
          </select >
      
      </div>
      <div class="col">
        
      </div>
      

    </div>
  </div>
  <script>
   var n = 0;
   
  </script>
</body>

