<div class="container" style="margin-top: 23px;">
    <div class="row">
        <div class="col"></div>
        <div class="col-6" style="text-align: center;">
            <h1>Home Page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam in nunc in dui molestie consectetur. Vestibulum congue eros odio. Vestibulum sodales et ipsum sit amet pretium. Quisque in rutrum purus. Sed viverra nulla nec erat mattis, quis bibendum sem convallis. Suspendisse nec tortor id risus vestibulum mattis vitae eget dolor. Nam in nisi vitae nibh imperdiet dictum. Phasellus vehicula ipsum nec gravida porttitor. Integer dictum tellus eu magna gravida euismod. Vestibulum tellus justo, blandit aliquet aliquet at, placerat vitae nisl.</p>
        </div>
        <div class="col"></div>
    </div>
</div>